<!-- except the variable part  , all the other constant part like  -->
<!-- header and footer is written in layouts.ejs file -->

<!-- in its body section , which is the variable part -->


<h1>Welcome To Codeial / <%= title %> </h1>