<!-- only variable part stays here , other constants parts like -->
<!-- header and footerare in the layout.ejs -->

<link rel="stylesheet" href="/css/user_profile.css">
<h1>Welcome to profile page of User!</h1>
